* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #fc0808;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #141414;
}

.container {
    position: relative;
}

.clock {
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background-image: url('salmanjadoon.jpg');
    background-size: cover; /* Ensures the image covers the entire clock area */
    background-position: center; /* Centers the image */
    border: 2px solid #fff;
    box-shadow: 0 0 30px rgba(245, 245, 245, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock span {
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset: 11px;
    text-align: center;
}

.clock span b {
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
    font-size: 20px;
}

.clock::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #922323;
    z-index: 2;
}

.hand {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hand i {
    position: absolute;
    background-color: var(--clr);
    width: 4px;
    height: var(--h);
    border-radius: 8px;
}
